.tarjeta {
  display: flex;
  flex-direction: row;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  overflow: hidden;
  max-width: 600px;
  min-width: 600px;
  width: 100%;
}

.tarjeta-imagen {
  width: 220px;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tarjeta-imagen img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 8px;
}

.tarjeta-content {
  flex: 1;
  padding: 1.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.badge1 {
  display: inline-block;
  font-size: 11px;
  font-weight: 500;
  padding: 3px 10px;
  border-radius: 6px;
  background: #dbeafe;
  color: #1d4ed8;
  width: fit-content;
}

.producto-title {
  font-size: 18px;
  font-weight: 500;
  color: #111111;
  line-height: 1.3;
}

.producto-description {
  font-size: 14px;
  color: #666666;
  line-height: 1.6;
}


.divider {
  border: none;
  border-top: 1px solid dimgray;
}

.precio-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.precio {
  font-size: 1.2rem;
  font-weight: bold;
  color: #111111;
}

.boton-add {
  font-size: 13px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #d0d0d0;
  background: #ffffff;
  color: #111111;
  cursor: pointer;
  transition: background 0.15s;
}

.boton-add:hover {
  background: #00B8D4;
  color: white
}

.boton-add:active {
  transform: scale(0.98);
}

@media (max-width: 480px) {
  .tarjeta {
    flex-direction: column;
  }

  .tarjeta-imagen {
    width: 100%;
    min-width: unset;
    padding: 1.25rem;
  }

  .tarjeta-imagen img {
    height: 200px;
  }

  .tarjeta-content {
    padding: 1.25rem;
  }

  .precio {
    font-size: 20px;
  }
}

