<div class="album py-5" id="footer" style="background-color:#212121">  
  <div id="Sucursal" position:absolute class="container py-2" id="footer">
    <div class="row">
      <div class="col-12 col-md">
        <img src="img/logooficial.png" width="70" height="70" class="rounded">
        <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
      </div>
    <div class="col-6 col-md text-muted">
      <b><h5><font face="Decorative">MENU PRINCIPAL</font></h4></b>
      <ul class="list-unstyled text-small">
        <li><img src="img/Otros/Footer/informationgris.png" width="14" height="14">&nbsp;<a class="text-muted" href="Index.php#QuienesSomos?">Quiénes somos?</a></li>
        <li><img src="img/Otros/Footer/homegris.png" width="14" height="14">&nbsp;<a class="text-muted" href="Index.php#Inicio">Inicio</a></li>
        <li><img src="img/Otros/Footer/ubicaciongris.png" width="14" height="14">&nbsp;<a class="text-muted" href="Index.php#Ubicacion">Ubicación</a></li>
        <li><img src="img/Otros/Footer/variassucursalesgris.png" width="14" height="14">&nbsp;<a class="text-muted" href="Index.php#Sucursales">Sucursales</a></li>
      </ul>
    </div>
    <div class="col-6 col-md text-muted">
      <b><h5><font face="Decorative">CATEGORIAS</font></h4></b>
      <div class="list-unstyled text-small">
        <li><img src="img/Otros/Footer/celulargris.png" width="14" height="14">&nbsp;<a class="text-muted" href="Celulares.php">Celulares</a></li>
        <li><img src="img/Otros/Footer/notebookgris.png" width="14" height="14">&nbsp;<a class="text-muted" href="Notebooks.php">Notebooks</a></li>
        <li><img src="img/Otros/Footer/televisiongris.png" width="14" height="14">&nbsp;<a class="text-muted" href="Televisores.php">Televisores</a></li>
        <li><img src="img/Otros/Footer/impresoragris.png" width="14" height="14">&nbsp;<a class="text-muted" href="Impresoras.php">Impresoras</a></li>
        <li><img src="img/Otros/Footer/auricularesgris.png" width="14" height="14">&nbsp;<a class="text-muted" href="Auriculares.php">Auriculares</a></li>
      </div>
      </div>
      <div class="col-6 col-md text-muted">
        <b><h5><font face="Decorative">CONTACTOS</font></h4></b>
        <ul class="list-unstyled text-small">
          <li><img src="img/Otros/Footer/telefonogris.png" width="14" height="14">&nbsp;<a class="text-muted">0810-444-8330</a></li>
          <li><img src="img/Otros/Footer/mailgris.png" width="14" height="14">&nbsp;<a class="text-muted">compumundo@gmail.com</a></li>
          <li><img src="img/Otros/Footer/facebookgris.png" width="14" height="14">&nbsp;<a class="text-muted" href="https://es-la.facebook.com/CompumundoArg/">Facebook</a></li>
          <li><img src="img/Otros/Footer/instagramgris.png" width="14" height="14">&nbsp;<a class="text-muted" href="https://www.instagram.com/compumundoarg/?hl=es-la">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>